@import "./variables";
@import "./reset";


body {
  color: $primary;
}

.box {
  height: 100px;
  width: 100px;
  background-color: $primary;

  &:hover {
    background-color: darken($primary, 15%);
  }
}

.box:hover {
  background-color: darken($primary, 30%);
}



.box-2 {
  background-color: $primary-200;
}
.box-3 {
  background-color: darken($primary, 10%);
}


.card {
  border: 2px solid black;
  padding: 20px;

  .blue {
    background-color: blue;
  }

  h2 {
    font-size: 36px;
  }
  p {
    margin-top: 16px;
  }
}
